.header {
  margin: 0, 0, 1em, 0;
  padding: 1em;
  background-color: #e4e4f0;

  .logo {
    text-align: left;
    display: inline-block;
    width: 60%;   
  }

  .menu {
    display: inline-block;
    width: 40%;
    
    ul {
      list-style: none;
      display: block;
      float: right;
    }

    li {
      margin: 0 1em;
      display: inline-flex;      
    }

    a {
      color: black;
      text-decoration: none;
      text-align: center;		
	    font-weight: bold;
    }
  }
  
}